{% extends 'pingpong/base_groups.html' %}

{% block additional_header %}
    <style>
        h1 {
            font-size: 36px;
        }

        table {
            border-spacing: 0;
            border-collapse: collapse;
            border: 1px solid;
        }

        .full {
            background-color: black;
        }

        .header td {
            text-align: center;
        }

        td {
            padding-top: 3px;
            padding-left: 5px;
            line-height: 20px;
            width: 40px;
            border: 1px solid;
        }

        .sets {
            border-left: 3px solid;
        }

        .place {
            border-left: 3px solid;
        }

        .name {
            width: 200px;
        }

        .result {
            width: 80px;
        }

        input[type=text] {
            border: 0px;
            width: 40px;
            padding: 0px;
        }
    </style>

    <style type="text/css" media="print">
        nav {
            display: none;
        }
    </style>
{% endblock %}

{% block navigation_items %}
    <li>
        <a href="{% url 'groups' category_id=category.id %}">{{ category }}</a>
    </li>
    {% for g in groups %}
        <li{% if g.id == group.id %} class="active"{% endif %}>
            <a href="{% url 'edit_group' category_id=g.category_id group_id=g.id %}">
                {{ g }} ({{ g.member_count }})
            </a>
        </li>
    {% endfor %}
{% endblock %}

{% block content %}
    <form method="post" action="{% url 'edit_group' category_id=category.id group_id=group.id%}">
    {% csrf_token %}
    {{ formset.management_form }}
    {{ formset.non_form_errors.as_ul }}

    <h2>{{ category.description }} - Skupina {{ group.name }} <input type="submit" value="Shrani" /></h2>
    <table class="group">
        <thead>
        <tr class="header">
            <td></td>
            {% for m2 in group_members %}
                <td>{{ forloop.counter }}.</td>
            {% endfor %}
            <td class="sets">Nizi</td>
            <td class="points">Točke</td>
            <td class="place">Mesto</td>
        </tr>
        </thead>
        <tbody>
        {% for form in formset %}
            <tr>
                <td class="name">
                    {{ form.id }}
                    {{ forloop.counter }}. {{ form.instance.player }}
                </td>
                {% for f in formset %}
                    <td{% if f == form %} class="full"{% endif %}></td>
                {% endfor %}
                <td class="sets"></td>
                <td class="points">{{ form.points }}</td>
                <td class="place">{{ form.place }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br />
    <table class="groupplay">
        <tr>
            <td class="name"></td>
            <td class="result">1. niz</td>
            <td class="result">2. niz</td>
            <td class="result">3. niz</td>
            <td class="result">4. niz</td>
            <td class="result">5. niz</td>
            <td class="result">Rezultat</td>
        </tr>
        {% for match in matches %}
            <tr>
                <td>{{ match.player1 }} : {{ match.player2 }}</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        {% endfor %}
    </table>
    </form>
{% endblock %}
