{% extends "pingpong/base.html" %}
{% load i18n %}
{% load pingpong_extras %}
{% load staticfiles %}

{% block current_mode %}
    {% trans 'Dashboard' %}
{% endblock %}


{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class='panel-title'>{% trans 'Upcoming matches' %}</h4>
        </div>
        <div class="panel-body">
            <div id="right-column">
                {% show_tables %}
            </div>
            <div id="left-column">
                {% if user.is_authenticated %}
                    <form method="post" action="{% url 'dashboard' %}">
                        {% csrf_token %}
                        {{ formset.management_form }}
                        {{ formset.non_form_errors }}
                        {% for form in formset %}
                            <div>
                                <div style="display: inline-block; width: 300px;">
                                    {{ form.instance.description }}
                                </div>
                                {{ form.non_field_errors }}
                                {% for hidden in form.hidden_fields %}
                                    {{ hidden }}
                                {% endfor %}
                                {% for field in form.visible_fields %}
                                    {{ field }}
                                {% endfor %}
                            </div>
                        {% endfor %}
                        <input type="submit" value="Save">
                    </form>
                {% else %}
                    noformset
                    {{ matches }}
                {% endif %}
            </div>
        </div>
        <div class="panel-footer">
        </div>
    </div>

{% endblock %}
