{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}
{% load tournament_extras %}

{% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/competition_extras.css' %}" type="text/css" media="all" />
{% endblock %}

{% block navigation %}
    <li><a href="{% url group_index %}"{% if request.path == '/competition/' %} class="active"{% endif %}>{% blocktrans %}Competition{% endblocktrans %}</a></li>
    <li><a href="{% url upcoming_matches %}"{% if request.path|startswith:'/competition/matches/upcoming' %} class="active"{% endif %}>{% blocktrans %}Upcoming{% endblocktrans %}</a></li>
    <li><a href="{% url current_matches %}"{% if request.path|startswith:'/competition/matches/current' %} class="active"{% endif %}>{% blocktrans %}Current{% endblocktrans %}</a></li>
{% endblock %}