{% extends "competition/base.html" %}
{% load staticfiles %}
{% load competition_extras %}

{% block main %}
<h1>{{ category }}</h1>

{% regroup members by group.name as member_list %}
{% for members in member_list %}
<h2>{{ members.grouper }}</h2>
{% include 'competition/snippets/groupscores.html' with members=members.list %}

{% empty %}
    Skupine za to kategorijo se niso bile dolocene.
{% endfor %}

{% for bracket in brackets %}
    <h2>{{ bracket.name }}</h2>
    {% show_bracket bracket %}
{% endfor %}

{% endblock %}