{% extends "competition/base.html" %}
{% load i18n %}
{% load competition_extras %}

{% block main %}
{% for category, members in category_members %}
    <div>
    <div><a href="{% url group_details category_id=category.id %}">{{ category.description }}</a>
    ({{ category.player_count }} tekmovalcev)
    </div>

    {% regroup members by group as group_members %}
    {% for group in group_members %}
        {% show_group group=group.grouper members=group.list %}
    {% empty %}
        {% show_players category %}
    {% endfor %}
    </div>
{% endfor %}
{% endblock %}