{% extends "competition/base.html" %}
{% load staticfiles %}
{% load competition_extras %}

{% block main %}
<h1>{{ category.description }}</h1>

{% regroup members by group as group_members %}
{% for group in group_members %}
    {% include 'competition/snippets/group.html' with group=group.grouper members=group.list %}
{% empty %}
    Skupine za to kategorijo se niso bile dolocene.
{% endfor %}

{% for bracket in brackets %}
    <h2>{{ bracket.name }}</h2>
    {% show_bracket bracket %}
{% endfor %}

{% endblock %}