{% extends "competition/base.html" %}
{% load competition_extras %}

{% block main %}
    <h1>Prihajajoči dvoboji</h1>

    <div>
    <div style='float:left;'>
    {% for group in groups %}
        {% if mode == 'upcoming' %}
            {% show_group_match group %}
        {% else %}
            {% show_group group %}
        {% endif %}
    {% endfor %}

    {% for match_id, slots in matches.lists %}
        {% show_match slots %}
    {% endfor %}

    {% for match_id, slots in pairs %}
        {% show_match slots %}
    {% endfor %}
    </div>
    <div style='float: right;'>
        {% show_tables %}
    </div>
{% endblock %}