{% extends "live_base.html" %}
{% load groups %}
{% load staticfiles %}

{% block additional_header %}
    <link rel="stylesheet" href="{% static 'css/groups.css' %}">
{% endblock %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            Trenutni dvoboji
        </div>
        <div class="panel-body">
            <div style='float:left;'>
                {% if user.is_authenticated %}
                    {{ formset.management_form }}
                    {% for form in formset %}
                        <div>
                        {{ form.non_field_errors }}
                        <div style="display: inline-block; width: 300px;">
                        {{ form.id }}
                        {{ form.instance.player1 }} :
                        {{ form.instance.player2 }}
                        </div>
                        {{ form.score }}
                        </div>
                    {% endfor %}
                {% else %}
                    noformset
                    {{ matches }}
                {% endif %}
            </div>
            <div style='float: right;'>
                {% show_tables %}
            </div>
        </div>
        <div class="panel-footer">
            <input type="submit" value="Save">
        </div>
    </div>

{% endblock %}