{% extends "live_base.html" %}
{% load pingpong_extras %}
{% load staticfiles %}

{% block content %}
    <div class="panel panel-default">
        <form method="post" action="{% url 'current_matches' %}">
        {% csrf_token %}
        <div class="panel-heading">
            Trenutni dvoboji
        </div>
        <div class="panel-body">
            <div id="matches">
                {% if user.is_authenticated %}
                    {{ formset.non_form_errors }}
                    {{ formset.management_form }}
                    {% for form in formset %}
                        <div>
                        {{ form.non_field_errors }}
                        <div style="display: inline-block; width: 300px;">
                        {{ form.id }}
                        {{ form.instance.player1 }} :
                        {{ form.instance.player2 }}
                        </div>
                        {{ form.score.errors.as_ul }}
                        {{ form.score }}
                        </div>
                    {% endfor %}
                {% else %}
                    noformset
                    {{ matches }}
                {% endif %}
            </div>
            <div id="tables">
                {% show_tables %}
            </div>
        </div>
        <div class="panel-footer">
            <input type="submit" value="Save">
        </div>
        </form>
    </div>
{% endblock %}
