{% extends 'pingpong/base.html' %}

{% block current_mode %}
    Live
{% endblock %}

{% block javascript %}
<script type="text/javascript">
    var timer, tables=$("#tables"), holddelay=500;
    var hold = false;
    tables.mousedown(function() {
        hold = false;
        timer = setTimeout(function() {
            $("#tables").addClass("show_delete_button")
            hold = true;
        }, holddelay);
        return false;
    });
    tables.mouseup(function () {
        clearTimeout(timer);
    });
    tables.mouseout(function () {
        clearTimeout(timer);
    });
    $('body').click(function() {
        if (!hold) {
            $("#tables").removeClass("show_delete_button");
        }
    })
</script>
{% endblock %}

{% block navigation_items %}
    <li><a href="{% url 'upcoming_matches' %}">Dodeljevanje miz</a></li>
    <li><a href="{% url 'current_matches' %}">Vnos rezultatov</a></li>
{% endblock %}