{% extends "live_base.html" %}
{% load pingpong_extras %}
{% load staticfiles %}


{% block additional_header %}
    <link rel="stylesheet" href="{% static 'css/groups.css' %}">
{% endblock %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            Prihajajoči dvoboji
        </div>
        <div class="panel-body">
            <div style='float:left;'>
                {% if user.is_authenticated %}
                    <form method="post" action="{% url 'upcoming_matches' %}">
                        {% csrf_token %}
                        {{ formset.management_form }}
                        {{ formset.non_form_errors }}
                        {% for form in formset %}
                            <div>
                                <div style="display: inline-block; width: 300px;">
                                    {{ form.instance.description }}
                                </div>
                                {{ form.non_field_errors }}
                                {% for hidden in form.hidden_fields %}
                                    {{ hidden }}
                                {% endfor %}
                                {% for field in form.visible_fields %}
                                    {{ field }}
                                {% endfor %}
                            </div>
                        {% endfor %}
                        <input type="submit" value="Save">
                    </form>
                {% else %}
                    noformset
                    {{ matches }}
                {% endif %}
            </div>
            <div style='float: right;'>
                {% show_tables %}
            </div>
        </div>
        <div class="panel-footer">
        </div>
    </div>

{% endblock %}
