{% extends 'pingpong/category/base.html' %}
{% load i18n %}
{% load staticfiles %}

{% block headjs %}
    <script src="{% static 'components/angular/angular.js' %}"></script>
    <script src="{% static 'components/angular-cookies/angular-cookies.js' %}"></script>
    <script src="{% static 'components/ngDraggable/ngDraggable.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
    <script src="{% static 'js/controllers.js' %}"></script>

    <style>
        .drag-enter {
            border: 1px solid red !important;
        }

        .drag-list {
            padding-left: inherit;
        }

        .drag-list li {

            line-height: 2em;
            margin: 1px;

            list-style: none;
            min-height: 40px;
        }

        .drag-list li div {
            padding: 5px;
            border: 1px solid #c0c0c0;
        }

        .player_group {
            width: 100px;
            height: 200px;
            border: 1px solid silver;
            float: left;
            margin: 5px;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="panel panel-default" ng-app="pingpongApp" ng-controller="CreateGroupsCtrl"
         ng-init="init({{ category.id }})">
        <div class="panel-heading">
            <h4 class="panel-title">
                {{ category.description }},
                {[{ players.length + leaders.length }]} tekmovalcev,
                <input ng-model="numberOfGroups" ng-change="updateGroups()" size="4"> skupin
            </h4>
        </div>

        <div class="panel-body" style="vertical-align: top;">

            <div id="players" ng-drop="true" ng-drop-success="removeLeader($data)">
                <h5>Tekmovalci</h5>

                <ul class="drag-list">
                    <li ng-repeat="player in players | orderBy:'surname'">
                        <div ng-drag="true" ng-drag-data="player">
                            {[{ player.name }]}
                        </div>
                    </li>
                </ul>
            </div>

            <div id="leaders" ng-drop="true" ng-drop-success="addLeader($data)">
                <h5>Nosilci</h5>

                <ul class="drag-list">
                    <li ng-repeat="player in leaders">
                        <div ng-drag="true" ng-drag-data="player">
                            N{[{ $index + 1 }]} {[{ player.name }]}
                        </div>
                    </li>
                </ul>
            </div>

            <div id="groups">
                <h5>Skupine</h5>

                <div ng-repeat="group in groups" class="player_group"
                    <div>Skupina {[{ "ABCDEFGHIJKLMN"[$index] }]}</div>
                    <ul>
                        <li ng-repeat="player in group" ng-class="{leader: player.leader}">
                            <div ng-drag="true" ng-drag-data="player">
                                {[{ player.name }]} {[{ player.club }]}
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="panel-footer">
            <button ng-click="drawOthers()">Žreb</button>
            <button ng-click="reset()">Reset</button>
            <button ng-click="saveToServer()">Shrani</button>
        </div>
    </div>
{% endblock %}
