{% extends 'pingpong/category/base.html' %}
{% load i18n %}

{% block content %}
    <div class="panel panel-default">
        <form method="post" action="{% url 'create_groups' category_id=category.id %}">
        {% csrf_token %}
        <div class="panel-heading">
            <h4 class="panel-title">{% trans 'Create groups' %}</h4>
        </div>
        <div class="panel-body">
            {{ formset.management_form }}
            {% for error in formset.non_form_errors %}
                <div class="alert alert-danger ">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ error }}
                </div>
            {% endfor %}

            {{ numgroups.as_p }}

            <p>
                <label style="vertical-align: top;">{% trans 'Seeds' %}:</label>
                <span style="display: inline-block" class="leaders">
                    {% for form in formset.forms %}
                        <span style="display: block;">
                            {% for hidden in form.hidden_fields %}
                                {{ hidden }}
                            {% endfor %}

                            {% for field in form.visible_fields %}
                                {{ field.errors.as_ul }}
                                {{ field }}
                            {% endfor %}
                            {{ form.instance.name }}
                            {{ form.instance.surname }}
                        </span>
                    {% endfor %}

                </span>
            </p>
            <p>
                <label></label>
                <button class="btn btn-default btn-sm">{% trans 'Create groups' %}</button>
            </p>
        </div>
        </form>
    </div>
{% endblock %}
