{% extends 'pingpong/base.html' %}

{% block subnavigation %}
    <div class="btn-group">
        <input type="submit" name="save" class="btn btn-primary" value="Shrani"/>
        <input type="submit" name="delete" class="btn btn-danger" value="Izbrisi"/>
    </div>

    <ul class="nav nav-pills">
        {% for c in categories %}
            <li{% if c.id == category.id %} class="active"{% endif %}>
                <a href="{% url 'category_edit' id=c.id %}">{{ c }}
                ({{ c.player_count }})</a>
            </li>
        {% endfor %}
         <li><a href="{% url 'category_add' %}"><i class="icon-plus">+</i></a></li>
    </ul>




{% endblock %}

{% block content %}
    <div class="pull-left">
        <h3>Players</h3>

        {{ formset.management_form }}
        {{ formset.non_form_errors.as_ul }}

        <table id="formset" class="form">
            {% for form in formset.forms %}
                {% if forloop.first %}
                    <thead>
                    <tr>
                        {% for field in form.visible_fields %}
                            <th>{{ field.label|capfirst }}</th>
                        {% endfor %}
                    </tr>
                    </thead>
                {% endif %}
                <tr class="{% cycle row1,row2 %}">
                    {% for field in form.visible_fields %}
                        <td>
                            {# Include the hidden fields in the form #}
                            {% if forloop.first %}
                                {% for hidden in form.hidden_fields %}
                                    {{ hidden }}
                                {% endfor %}
                            {% endif %}
                            {{ field.errors.as_ul }}
                            {{ field }}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </div>
    <div class="pull-left">
        <h3>Category</h3>
        <table>
            {{ form }}
        </table>
    </div>
{% endblock %}