{% extends 'pingpong/base.html' %}

{% block subnavigation %}
    {% for c in categories %}
        <li{% if c.id == category.id %} class="active"{% endif %}>
            <a href="{% url 'category_edit' id=c.id %}">{{ c }}
                ({{ c.player_count }})</a>
        </li>
    {% endfor %}
    <li><a href="{% url 'category_add' %}"><i class="icon-plus">+</i></a></li>
{% endblock %}


{% block content %}
    <div class="btn-group-vertical pull-right">
        <input type="submit" class="btn btn-primary" value="Shrani"/>
    </div>
    <table>
        {{ form }}
    </table>
{% endblock %}
