{% extends 'pingpong/base.html' %}

{% block content %}
    <form method="post" action="">
    {% csrf_token %}

    <div class="navbar navbar-fixed-top navbar-absolute">
        <div class="btn-group btn-group-lg">
        {% for c in categories %}
            <a href="{% url 'signup_category' id=c.id name=c.name %}" class="btn {% if c.id == category.id %}btn-primary{% else %}btn-default{% endif %}">{{ c }} ({{ c.player_count }})</a>
        {% endfor %}
        </div>
        <div class="btn-group btn-group-lg">
        <input type="submit" class="btn btn-primary disabled" value="Shrani" />
        </div>
    </div>
    <div style="margin-top:50px;">
        {{ formset.management_form }}
        {{ formset.non_form_errors.as_ul }}
        <table id="formset" class="form">
            {% for form in formset.forms %}
                {% if forloop.first %}
                    <thead>
                    <tr>
                        {% for field in form.visible_fields %}
                            <th>{{ field.label|capfirst }}</th>
                        {% endfor %}
                    </tr>
                    </thead>
                {% endif %}
                <tr class="{% cycle row1,row2 %}">
                    {% for field in form.visible_fields %}
                        <td>
                            {# Include the hidden fields in the form #}
                            {% if forloop.first %}
                                {% for hidden in form.hidden_fields %}
                                    {{ hidden }}
                                {% endfor %}
                            {% endif %}
                            {{ field.errors.as_ul }}
                            {{ field }}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </div>
    </form>
{% endblock %}