{% load staticfiles i18n %}
{% load sekizai_tags %}
{% load pingpong_extras %}
<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'css/pingpong.css' %}" rel="stylesheet" media="screen">
    {% render_block 'css' %}
    <script src="{% static 'js/jquery-1.10.2.min.js' %}"></script>
</head>
<body>
    {% csrf_token %}

    <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            {% block navigation %}
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">{% trans 'Toggle navigation' %}</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            {% endblock %}
            <a class="navbar-brand dropdown-toggle" data-toggle="dropdown" href="#">
                {% block current_mode %} {% trans 'Unknown' %} {% endblock %}
                <span class="caret">
            </a>
            {% block dropdown_menu %}
            <ul id="mainnav" class="dropdown-menu">
                <li><a href="{% url 'dashboard' %}">{% trans 'Dashboard' %}</a></li>
                <li>
                    {% if user.is_authenticated %}
                        <a href="{% url 'auth_logout' %}">{% trans 'Logout' %}</a>
                    {% else %}
                        <a href="{{ login_url  }}">{% trans 'Login' %}</a>
                    {% endif %}
                </li>
            </ul>
            {% endblock %}
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                {% block navigation_items %}
                    {% list_categories category %}
                {% endblock %}
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>

<script src="{% static 'js/bootstrap.min.js' %}"></script>
{% render_block 'js' %}
<script>
    if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
        $("a[data-toggle='modal']").removeAttr("data-toggle")
    }
</script>
{% block javascript %}{% endblock %}
</body>
</html>
