{% extends 'pingpong/base.html' %}
{% load staticfiles %}
{% load i18n %}
{% load categories %}

{% block current_mode %}
    {% trans 'Categories' %}
{% endblock %}

{% block navigation_items %}
    {% list_categories category%}
    {% if user.is_authenticated %}
    <li><a href="{% url 'category_add' %}">
        &nbsp;&nbsp;&nbsp;<i class="glyphicon glyphicon-plus"></i>&nbsp;&nbsp;&nbsp;</a></li>
    {% endif %}
{% endblock %}


{% block additional_header %}
    <link rel="stylesheet" href="{% static 'css/jquery-ui-1.10.3.custom.min.css' %}">
{% endblock %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                {% if user.is_authenticated %}
                <a data-toggle="collapse" href="#categoryFields">
                    {{ category.description }} ({{ category.name }}) <i class="glyphicon glyphicon-pencil"></i>
                </a>
                {% else %}
                    {{ category.description }} ({{ category.name }})
                {% endif %}
                {% if category.group__count > 0 or category.bracket__count > 0 %}
                    <span style="float:right;">
                        {% if players_formset %}
                            <a href="{% url 'category' category_id=category.id %}">
                            {% trans 'Back to category' %}</a>
                        {% else %}
                            <a href="{% url 'category_edit_players' category_id=category.id %}">
                            {% trans 'Edit players' %}</a>
                        {% endif %}
                    </span>
                {% endif %}
            </h4>
        </div>
        {% if user.is_authenticated %}
            {% edit_category category %}
        {% endif %}

        {% block category_content %}
            {% if category.group__count == 0 and category.bracket__count == 0 %}
                {% edit_category_players category %}
            {% else %}
                {% if category.group__count > 0 %}
                    {% show_groups category %}
                {% endif %}

                {% if category.bracket__count > 0 %}
                    {% show_brackets category %}
                {% endif %}
            {% endif %}
        {% endblock %}
    </div>
{% endblock %}
