{% extends 'pingpong/base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block current_mode %}
    {% trans 'Category' %}
{% endblock %}

{% block navigation_items %}
    {% for c in categories %}
        <li{% if c.id == category.id %} class="active"{% endif %}>
            <a href="{% url 'category_edit' category_id=c.id %}">{{ c }}
                ({{ c.player_count }})</a>
        </li>
    {% endfor %}
    <li><a href="{% url 'category_add' %}">
        &nbsp;&nbsp;&nbsp;<i class="glyphicon glyphicon-plus"></i>&nbsp;&nbsp;&nbsp;</a></li>
{% endblock %}


{% block additional_header %}
    <link rel="stylesheet" href="{% static 'css/jquery-ui-1.10.3.custom.min.css' %}">
    <style>
        table.players > tbody > tr > td {
            padding: 2px;
        }

        table.players input {
            border: 0;
        }

        .collapsing {
            transition: height 0.01s;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#categoryFields">
                    {{ category.description }} ({{ category.name }})
                </a>
            </h4>
        </div>
        <div id="categoryFields" class="panel-body collapse">
            {{ form.as_p }}
            <p>
                <label>Kreiraj</label>
                {% if category.group__count == 0 %}
                    <a class="btn btn-primary" href="{% url "groups" category_id=category.id %}">
                        <i class="glyphicon glyphicon-plus"></i> Skupine
                    </a>
                {% endif %}
                {% if category.bracket__count == 0 %}
                    <a class="btn btn-default" href="#">
                        <i class="glyphicon glyphicon-plus"></i> Piramide
                    </a>
                {% endif %}
            </p>

            <p>
                <label>Izbriši</label>
                <a class="btn btn-danger" href="{% url "category_delete" category_id=category.id %}">
                    <i class="glyphicon glyphicon-remove"></i> Kategorijo
                </a>
                {% if category.group__count > 0 %}
                    <a class="btn btn-danger" href="{% url "delete_groups" category_id=category.id %}">
                        <i class="glyphicon glyphicon-remove"></i> Skupine
                    </a>
                {% endif %}
                {% if category.bracket__count > 0 %}
                    <a class="btn btn-danger" href="{% url "delete_brackets" category_id=category.id %}">
                        <i class="glyphicon glyphicon-remove"></i> Piramide
                    </a>
                {% endif %}
            </p>
        </div>

        {% block category_content %}{% endblock %}
    </div>
{% endblock %}
