{% extends "pingpong/base.html" %}
{% load i18n %}

{% block current_mode %}
    {% trans 'Login' %}
{% endblock %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">Login</h4>
        </div>
        <div class="panel-body">
            {{ form.as_p }}
            <label></label>
            <input class="btn btn-default" type="submit" value="{% trans 'Login' %}"/>
            <input type="hidden" name="next" value="{{ next }}"/>
        </div>
    </div>
{% endblock %}