{% extends "base.html" %}

{% block main %}
<h1>{{ category }}</h1>

{% regroup members by group__name as member_list %}
{% for members in member_list %}
<h2>{{ members.grouper }}</h2>
<table class="groupscores">
    <tr>
        <td></td>
        {% for member in members.list %}
        <td class="header">{{ member.player__name }} {{ member.player__surname }}</td>
        {% endfor %}
    </tr>
    {% for member in members.list %}
    <tr>
        <td class="header">{{ member.player__name }} {{ member.player__surname }}</td>
        {% for member in members.list %}
        <td{% ifequal forloop.parentloop.counter forloop.counter %} class="dark"{% endifequal %}></td>
        {% endfor %}
    </tr>
    {% endfor %}

</table>

{% empty %}
    Skupine za to kategorijo se niso bile dolocene.
{% endfor %}

{% for bracket in brackets %}
    {% include 'bracket.html' with rendered_bracket=bracket%}
{% endfor %}
{% endblock %}