<div class='players'>
{% if user.is_authenticated %}
    {% if category.type == 0 %}
        <form method="POST" action="{% url set_leaders %}">
    {% elif category.type == 1 %}
        <form method="POST" action="{% url create_pair_bracket %}">
    {% endif %}
{% csrf_token %}
<input type="hidden" name="category_id" value="{{ category.id }}" />
{% endif %}
{% for player in players %}
    <div>
    {% if user.is_authenticated and category.type == 0 %}
        <div class='player_group'>
            <input type="text" name="player_{{ player.id }}_group" />
        </div>
    {% endif %}
    <div class='player'>{{ player }}</div>
    </div>
{% endfor %}
{% if user.is_authenticated %}
    {% if category.type == 0 %}
        <input type=submit value='Kreiraj skupine' />
    {% elif category.type == 1 %}
        {# <input type=submit value='Žrebaj razvrstitev' />  #}
    {% endif %}
</form>
{% endif %}
</div>