<div class='players'>
{% if user.is_authenticated %}
<form method="POST" action="{% url set_leaders %}">
{% csrf_token %}
<input type="hidden" name="category_id" value="{{ category.id }}" />
{% endif %}
{% for player in players %}
    <div>
    {% if user.is_authenticated %}
    <div class='player_group'>
        <input type="text" name="player_{{ player.id }}_group" />
    </div>
    {% endif %}
    <div class='player'>{{ player.full_name }}</div>
    </div>
{% endfor %}
{% if user.is_authenticated %}
<input type=submit value='Kreiraj skupine' />
</form>
{% endif %}
</div>