{% load i18n %}
{% load pingpong_extras %}

<form method="post" action="{% url 'category_edit' category_id=category.id %}">
    {% csrf_token %}

    {% panel modal %}
        {% if modal != False %}
            {% blocktrans with category_name=category.description%}
                {{ category_name }} Settings
            {% endblocktrans %}
        {% else %}
            <a href="{% url 'category' category_id=category.id %}">
                 {{ category.description }} ({{ category.name }})
            </a>
        {% endif %}
        {% body %}
        {{ category_fields_form.as_p }}
        <p>
            <label></label>
            <input type="submit" value="{% trans 'Save' %}">
        </p>
        {% footer %}
        {% if category.group__count == 0 or category.bracket__count == 0 %}
            <p>
                <label>{% trans 'Draw' %}</label>
                {% if category.group__count == 0 %}
                    <a class="btn btn-primary" href="{% url "create_groups" category_id=category.id %}">
                        <i class="glyphicon glyphicon-plus"></i> {% trans 'groups' %}
                    </a>
                {% endif %}
                {% if category.bracket__count == 0 %}
                    <a class="btn btn-default" href="{% url "create_brackets" category_id=category.id %}">
                        <i class="glyphicon glyphicon-plus"></i> {% trans 'brackets' %}
                    </a>
                {% endif %}
            </p>
        {% endif %}
        <p>
            <label>{% trans 'Remove' %}</label>
            <a class="btn btn-danger" href="{% url "category_delete" category_id=category.id %}">
                <i class="glyphicon glyphicon-remove"></i> {% trans 'category' %}
            </a>
            {% if category.group__count > 0 %}
                <a class="btn btn-danger" href="{% url "delete_groups" category_id=category.id %}">
                    <i class="glyphicon glyphicon-remove"></i> {% trans 'groups' %}
                </a>
            {% endif %}
            {% if category.bracket__count > 0 %}
                <a class="btn btn-danger" href="{% url "delete_brackets" category_id=category.id %}">
                    <i class="glyphicon glyphicon-remove"></i> {% trans 'brackets' %}
                </a>
            {% endif %}
        </p>
    {% endpanel %}
</form>
