{% load i18n staticfiles %}
{% load pingpong_extras %}

<form method="post" action="{% url 'category_edit_players' category_id=category.id %}">
    {% csrf_token %}

    {% panel modal %}
        {% trans 'Edit' %}
        <a href="{% url 'category' category_id=category.id %}">
            {{ category.description }} ({{ category.name }})
        </a>
        {% body %}
        {{ players_formset.management_form }}
        {{ players_formset.non_form_errors.as_ul }}

        <table id="players_formset" class="table players">
            {% for form in players_formset.forms %}
                {% if forloop.first %}
                    <thead>
                    <tr>
                        <th></th>
                        {% for field in form.visible_fields %}
                            <th>{{ field.label|capfirst }}</th>
                        {% endfor %}
                        {% if panel %}
                            <th width="100%"></th>
                        {% endif %}
                    </tr>
                    </thead>
                {% endif %}
                <tr class="{% cycle row1,row2 %}">
                    <td style="text-align: right;">{{ forloop.counter }}.</td>
                    {% for field in form.visible_fields %}
                        <td>
                            {% if forloop.first %}
                                {% for hidden in form.hidden_fields %}
                                    {{ hidden }}
                                {% endfor %}
                            {% endif %}
                            {{ field.errors.as_ul }}
                            {{ field }}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
        {% footer %}
        <button name="save" class="btn btn-primary btn-sm" value="yes">{% trans 'Save' %}</button>
    {% endpanel %}
</form>
<script src="{% static 'js/jquery-ui-1.10.3.custom.js' %}"></script>
<script>
    var INITIAL_FORMS = $("#id_players-INITIAL_FORMS").val();
    var TOTAL_FORMS = $("#id_players-TOTAL_FORMS").val();
    var UP = 38;
    var DOWN = 40;

    var update_player = function (event, ui) {
        event.preventDefault();
        var form_number = $(this)[0].id.split('-')[1];
        var $name = $("#id_players-" + form_number + "-name")[0];
        var $surname = $("#id_players-" + form_number + "-surname")[0];
        var $club = $("#id_players-" + form_number + "-club")[0];

        $name.value = ui.item.name;
        $surname.value = ui.item.surname;
        $club.value = ui.item.club;
    }

    var update_club = function (event, ui) {
        event.preventDefault();
        var form_number = $(this)[0].id.split('-')[1];
        var $club = $("#id_players-" + form_number + "-club")[0];
        $club.value = ui.item.name;
    }

    for (var i = INITIAL_FORMS; i < TOTAL_FORMS; i++) {
        $("#id_players-" + i + "-name").autocomplete({
            source: "{% url 'known_players' %}",
            minLength: 2,
            select: update_player,
            focus: update_player
        });
        $("#id_players-" + i + "-surname").autocomplete({
            source: "{% url 'known_players' %}",
            minLength: 2,
            select: update_player,
            focus: update_player
        });
        $("#id_players-" + i + "-club").autocomplete({
            source: "{% url 'known_clubs' %}",
            minLength: 1,
            select: update_club,
            focus: update_club
        });
    }
    $("#id_players-" + INITIAL_FORMS + "-name").focus();
    $("#players_formset").keydown(function (e) {
        var id = e.target.id;
        var form_number = id.split('-')[1];
        if (e.which == UP) {
            e.preventDefault();
            if (form_number > 0)
                $("#" + id.replace(form_number, form_number - 1)).focus();
        }

        if (e.which == DOWN) {
            e.preventDefault();
            if (form_number < (TOTAL_FORMS - 1)) {
                $("#" + id.replace(form_number, form_number - 0 + 1)).focus();
            }
        }
    });

</script>
