{{ players_formset.management_form }}
{{ players_formset.non_form_errors.as_ul }}

<table id="formset" class="table players">
    {% for form in players_formset.forms %}
        {% if forloop.first %}
            <thead>
            <tr>
                <th></th>
                {% for field in form.visible_fields %}
                    <th>{{ field.label|capfirst }}</th>
                {% endfor %}
                <th width="100%"></th>
            </tr>
            </thead>
        {% endif %}
        <tr class="{% cycle row1,row2 %}">
            <td style="text-align: right;">{{ forloop.counter }}.</td>
            {% for field in form.visible_fields %}
                <td>
                    {% if forloop.first %}
                        {% for hidden in form.hidden_fields %}
                            {{ hidden }}
                        {% endfor %}
                    {% endif %}
                    {{ field.errors.as_ul }}
                    {{ field }}
                </td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>
<div class="panel-footer">
    <input type="submit" name="save" class="btn btn-primary btn-sm" value="Shrani"/>
</div>