{% load i18n %}
{% load sekizai_tags %}

{% if not css_only %}
    <form id="set_group_scores_form" method="post"
          action="{% url 'set_group_scores' group_id=group.id %}">
        {% csrf_token %}
        {{ formset.management_form }}
        {{ formset.non_form_errors.as_ul }}

        <table class="group_results">
            {% for form in formset %}
                <tr>
                    <td class="name">
                        {{ form.id }}{{ form.instance.player }}
                    </td>
                    <td class="place">{{ form.errors.place }}{{ form.place }}</td>
                </tr>
            {% endfor %}
        </table>
        <button>{% trans 'Save' %}</button>
    </form>

    <script>
        var $form = $("#set_group_scores_form");
        var $max_value = $("#id_form-INITIAL_FORMS").val();
        $form.find('input[type=number]').create_touch_targets({
            min_value: 1,
            max_value: $max_value
        });

        function scoreSelected() {
            console.log(this);
            $(this).parent().addClass('selected');

            if ($("input:radio[name='player1_score']").is(":checked") &&
                    $("input:radio[name='player2_score']").is(":checked")) {
                $form.submit();
            }
        }

        $form.find("input:radio").on('change', scoreSelected);
        $form.find("label").on('touchend', function () {
            $(this).click();
        }); // Fix click delay on mobile devices
    </script>
{% endif %}

{% addtoblock 'css' %}
    <style>
        .name {
            padding-right: 10px;
        }

    </style>
{% endaddtoblock %}
