{% load sekizai_tags %}

{% if not css_only %}
    <form id="set_group_scores_form" method="post"
          action="{% url 'edit_group' category_id=group.category.id group_id=group.id %}">
        {% csrf_token %}
        {{ formset.management_form }}
        {{ formset.non_form_errors.as_ul }}

        <table class="group_results">
            {% for form in formset %}
                <tr>
                    <td class="name">
                        {{ form.id }}{{ form.instance.player }}
                    </td>
                    <td class="place">{{ form.errors.place }}{{ form.place }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <input type="submit" value="Shrani"/>
    </form>

    <script>
        $(document).ready(function () {
            var $form = $("#set_group_scores_form");
            var $inputs = $form.find('input[type=number]');
            $inputs.each(function (i, input) {
                console.log(input);
                var $input = $(input);
                var name = input.name;
                var value = input.value;

                var touch_friendly_input = '';
                for (var place = 1; place <= $inputs.length; place++) {
                    var id = name + '-' + place;
                    var selected = (value == place) ? ' checked' : '';
                    if (value) {
                        $input.parent().addClass('selected');
                    }

                    touch_friendly_input +=
                            '<input type="radio" id="' + id + '" name="' + name + '" value="' + place + '"' + selected + '>' +
                                    '<label for="' + id + '">' + place + '</label>';
                }

                $input.replaceWith(touch_friendly_input);
            });

            function scoreSelected() {
                console.log(this);
                $(this).parent().addClass('selected');

                if ($("input:radio[name='player1_score']").is(":checked") &&
                        $("input:radio[name='player2_score']").is(":checked")) {
                    $form.submit();
                }
            }

            $form.find("input:radio").on('change', scoreSelected);
            $form.find("label").on('touchend', function () {
                $(this).click();
            }); // Fix click delay on mobile devices


        });
    </script>
{% endif %}

{% addtoblock 'css' %}
    <style>
        .name {
            padding-right: 10px;
        }

    </style>
{% endaddtoblock %}
