{% load i18n %}
{% load pingpong_extras %}

{% with match=matches.0 %}
    {% panel modal %}
        {{ table.name }}
        {% body %}
        {% if match.group %}
            <a href="{% url 'edit_group' category_id=match.group.category_id group_id=match.group.id %}">{{ match.group }}</a>
        {% elif match.player1_id %}
            <div id="set_score_dialog">
                <form id="set_score_form" method="post" action="{% url 'set_score' table_id=table.id %}">
                    {% csrf_token %}
                    <input type="hidden" name="id" value="{{ match.id }}">
                    {% with scores="0 1 2 3" %}
                    <div id="player1">
                        {{ match.player1 }}
                        <div id="player1_score">
                            {% for s in scores.split %}
                                <input class='score' type="radio" id="player1_score_{{ s }}" name="player1_score" value="{{ s }}">
                                <label for="player1_score_{{ s }}" class="score">{{ s }}</label>
                            {% endfor %}
                        </div>
                    </div>
                    <div id="player2">
                        {{ match.player2 }}

                        <div id="player2_score">
                            {% for s in scores.split %}
                                <input class='score' type="radio" id="player2_score_{{ s }}" name="player2_score" value="{{ s }}">
                                <label for="player2_score_{{ s }}" class="score">{{ s }}</label>
                            {% endfor %}
                        </div>
                    </div>
                    {% endwith %}
                </form>
            </div>
        {% endif %}
        {% footer %}
        <!--<button class="btn btn-default">{% trans 'Save' %}</button>-->
    {% endpanel %}
{% endwith %}

<script>
    $(document).ready(function () {
        var $form = $("#set_score_form");

        function scoreSelected() {
            $('#' + this.name).addClass('selected');

            if ($("input:radio[name='player1_score']").is(":checked") &&
                $("input:radio[name='player2_score']").is(":checked")) {
                $form.submit();
            }
        }

        $("input:radio[name='player1_score']").on('change', scoreSelected);
        $("input:radio[name='player2_score']").on('change', scoreSelected);
    });
</script>
