{% load i18n %}
{% load sekizai_tags %}
{% load pingpong_extras %}

{% if not css_only %}
    {% panel modal %}
        {% trans 'Set score' %} -
        {{ match.table.name }}
        {% body %}
        {% if match.group %}
            {% set_group_scores_form match.group %}
        {% elif match.player1_id %}
            <div id="set_score_dialog">
                <form id="set_score_form" method="post" action="{% url 'set_score' match_id=match.id %}">
                    {% csrf_token %}
                    <div id="player1">
                        {{ match.player1 }}
                        <div id="player1_score">
                            {{ form.errors.player1_score }}{{ form.player1_score }}
                        </div>
                    </div>
                    <div id="player2">
                        {{ match.player2 }}
                        <div id="player2_score">
                            {{ form.errors.player2_score }}{{ form.player2_score }}
                        </div>
                    </div>
                </form>
            </div>
        {% endif %}
        {% footer %}
        {% if match and match.status == match.PLAYING %}
            <form method="post" action="{% url 'clear_table' match_id=match.id %}">
                {% csrf_token %}
                <button class="btn btn-default">{% trans 'Clear table' %}</button>
            </form>
        {% endif %}
    {% endpanel %}

    <script>
        $(document).ready(function () {
            var $form = $("#set_score_form");
            $form.find('input[type=number]').create_touch_targets({
                min_value: 0,
                max_value: 3
            });


            function scoreSelected() {
                $('#' + this.name).addClass('selected');

                if ($("input:radio[name='player1_score']").is(":checked") &&
                        $("input:radio[name='player2_score']").is(":checked")) {
                    $form.submit();
                }
            }

            $form.find("input:radio").on('change', scoreSelected);
            $form.find("label").on('touchend', function () {
                $(this).click();
            }); // Fix click delay on mobile devices
        });
    </script>

{% endif %}

{% addtoblock 'css' %}
    <style>
        #set_score_dialog {
            min-height: 80px;
        }

        #player1 {
            float: left;
        }

        #player2 {
            float: right;
        }

        #player1, #player2 {
            font-size: 1.5em;
        }
    </style>
    <style media="screen and (max-width: 600px)">
        #player1, #player2 {
            float: none;
        }
    </style>
{% endaddtoblock %}
