{% load pingpong_extras %}

<table id="tables">
    <tr>
        {% for table in tables %}
            {% cycle 0 0 0 1 as new_row silent%}
            <td>{% show_table table %}</td>
            {% if new_row %}
                </tr><tr>
            {% endif %}
        {% endfor %}
        </tr>
</table>
<div class="modal" id="table-modal">
</div>
<script>
    var i = 1;
    $('#tables').find('.table').on('click', function(e) {
        var matchId = $(this).data('matchId');
        if (matchId) {
            var remote = '{% url 'set_score' match_id=999 %}'.replace('999', matchId);
            var $tableModal = $('#table-modal');
            $tableModal.removeData('bs.modal');
            $tableModal.modal({
                remote: remote
            });
        }
    });

</script>
