{% with table.current_matches.all.0 as match %}
    <div class="table{% if match %} occupied{% endif %}" {% if match %}data-match-id="{{ match.id }}"{% endif %}>
        <div>
            <span class="name">{{ table.name }}</span>
            <span class="starttime">{{ match.start_time|date:"H:i" }}</span>
        </div>

        {% if match %}
            <div class="player">
                {% if match.group %}
                    {{ match.group }}
                {% else %}
                    {{ match }}
                {% endif %}
            </div>
        {% endif %}
    </div>
{% endwith %}
