{% load sekizai_tags %}

<div id="upcoming_matches">
    {% for match in group_matches %}
        <a class="match" href="{% url 'set_table' match_id=match.id %}">
            {{ match.description }}
        </a>
    {% endfor %}
    {% for match in bracket_matches %}
        <a class="match" href="{% url 'set_table' match_id=match.id %}">
            {{ match.description }}
        </a>
    {% endfor %}
    {% for match in doubles_matches %}
        <a class="match" href="{% url 'set_table' match_id=match.id %}">
            {{ match.description }}
        </a>
    {% endfor %}
</div>
<div class="modal" id="set-table-modal"></div>
<script>
    $(document).ready(function () {
        function openMatchModal(e) {
            e.preventDefault();
            var remote = this.href;
            var $modal = $('#set-table-modal');
            $modal.removeData('bs.modal');
            $modal.modal({
                remote: this.href
            });
        }

        var $upcoming_matches = $('#upcoming_matches');
        $upcoming_matches.find('a').on('click', openMatchModal);
    });
</script>


{% addtoblock 'css' %}
    <style>
        #upcoming_matches .match {
            display: block;
            width: 300px;
            line-height: 2em;
            border: 1px solid gray;
            padding: 5px;
            margin-bottom: 5px;
        }
    </style>

    <style media="screen and (max-width: 480px)">
        #upcoming_matches .match {
            width: 100%;
        }
    </style>
{% endaddtoblock %}
