{% extends "pingpong/base.html" %}
{% load i18n %}

{% block current_mode %}
    {% trans 'Login' %}
{% endblock %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            Login
        </div>
        <div class="panel-body">
            {{ form.as_p }}
            <label></label>
            <input type="submit" value="{% trans 'Login' %}"/>
            <input type="hidden" name="next" value="{{ next }}"/>
        </div>
        <div class="panel-footer">

        </div>
    </div>
{% endblock %}